## Day Agenda
- Working with missing values
    - Remove the null values
        - dropna()
    - Finding the missing values or null values
        - isna()  -na--> Not available
        - isnull() - nan--> Not a number
        - notnull()
    - Filling the missing values or null values
        - fillna()
        - replace()
        - interpolate()

## when or where missing values occure
 -  ex: some people are intrested fill address ,but some others are not

## 1. Read the dataset Load the dataset

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/AP-Skill-Development-Corporation/ML_FDP/main/day5-21-08-2021/weather.csv")
df

    s.no        day  temparature  winspeed    event
0      1   1/2/2019         30.0      12.0     rain
1      1   1/2/2019          NaN      14.0      NaN
2      2   1/3/2019         43.0      13.0     rain
3      3   1/4/2019         55.0       NaN  fullair
4      4   1/5/2019         66.0      10.0      NaN
5      5   1/6/2019         34.0      15.0     cold
6      6   1/7/2019          NaN      17.0  fullair
7      7   1/8/2019         89.0       NaN     cold
8      8   1/9/2019          NaN       9.0  fullair
9      9  1/10/2019         90.0      11.0     cold
10    10  1/11/2019         65.0       NaN      NaN
11    11  1/12/2019          NaN      20.0  fullair

## 2. Dataset Analysis

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   s.no         12 non-null     int64
 1   day          12 non-null     object
 2   temparature  8 non-null      float64
 3   winspeed     9 non-null      float64
 4   event        9 non-null      object
dtypes: float64(2), int64(1), object(2)
memory usage: 608.0+ bytes

In [5]:
df.describe()

            s.no  temparature   winspeed
count  12.000000     8.000000   9.000000
mean    5.583333    59.000000  13.444444
std     3.476109    22.940918   3.503966
min     1.000000    30.000000   9.000000
25%     2.750000    40.750000  11.000000
50%     5.500000    60.000000  13.000000
75%     8.250000    71.750000  15.000000
max    11.000000    90.000000  20.000000

## 3. Data Preprocessing or Data wrangling

In [6]:
df.shape

(12, 5)

In [9]:
df.isnull().sum() ## to find out null values count for every cloumn

s.no           0
day            0
temparature    4
winspeed       3
event          3
dtype: int64

In [10]:
df.isna().sum()

s.no           0
day            0
temparature    4
winspeed       3
event          3
dtype: int64

In [11]:
df.notnull().sum()

s.no           12
day            12
temparature     8
winspeed        9
event           9
dtype: int64

In [12]:
df.head()

   s.no       day  temparature  winspeed    event
0     1  1/2/2019         30.0      12.0     rain
1     1  1/2/2019          NaN      14.0      NaN
2     2  1/3/2019         43.0      13.0     rain
3     3  1/4/2019         55.0       NaN  fullair
4     4  1/5/2019         66.0      10.0      NaN

In [13]:
df['temparature']

0     30.0
1      NaN
2     43.0
3     55.0
4     66.0
5     34.0
6      NaN
7     89.0
8      NaN
9     90.0
10    65.0
11     NaN
Name: temparature, dtype: float64

In [16]:
## fill the null values in temperature column
df['temparature'].fillna(0,inplace=True)

In [17]:
df['temparature'].isnull().sum()

0

In [18]:
df.isnull().sum()

s.no           0
day            0
temparature    0
winspeed       3
event          3
dtype: int64

In [19]:
df['winspeed'].median()

13.0

In [20]:
df['temparature'].median()

38.5

In [22]:
df=pd.read_csv("https://raw.githubusercontent.com/AP-Skill-Development-Corporation/ML_FDP/main/day5-21-08-2021/weather.csv")
df

    s.no        day  temparature  winspeed    event
0      1   1/2/2019         30.0      12.0     rain
1      1   1/2/2019          NaN      14.0      NaN
2      2   1/3/2019         43.0      13.0     rain
3      3   1/4/2019         55.0       NaN  fullair
4      4   1/5/2019         66.0      10.0      NaN
5      5   1/6/2019         34.0      15.0     cold
6      6   1/7/2019          NaN      17.0  fullair
7      7   1/8/2019         89.0       NaN     cold
8      8   1/9/2019          NaN       9.0  fullair
9      9  1/10/2019         90.0      11.0     cold
10    10  1/11/2019         65.0       NaN      NaN
11    11  1/12/2019          NaN      20.0  fullair

In [23]:
df.isnull().sum()

s.no           0
day            0
temparature    4
winspeed       3
event          3
dtype: int64

In [24]:
df['temparature']=df['temparature'].fillna(df['temparature'].mean())

In [25]:
df.head()

   s.no       day  temparature  winspeed    event
0     1  1/2/2019         30.0      12.0     rain
1     1  1/2/2019         59.0      14.0      NaN
2     2  1/3/2019         43.0      13.0     rain
3     3  1/4/2019         55.0       NaN  fullair
4     4  1/5/2019         66.0      10.0      NaN

In [26]:
df.isnull().sum()

s.no           0
day            0
temparature    0
winspeed       3
event          3
dtype: int64

In [29]:
df['winspeed']=df['winspeed'].fillna(df['winspeed'].median())

In [30]:
df

    s.no        day  temparature  winspeed    event
0      1   1/2/2019         30.0      12.0     rain
1      1   1/2/2019         59.0      14.0      NaN
2      2   1/3/2019         43.0      13.0     rain
3      3   1/4/2019         55.0      13.0  fullair
4      4   1/5/2019         66.0      10.0      NaN
5      5   1/6/2019         34.0      15.0     cold
6      6   1/7/2019         59.0      17.0  fullair
7      7   1/8/2019         89.0      13.0     cold
8      8   1/9/2019         59.0       9.0  fullair
9      9  1/10/2019         90.0      11.0     cold
10    10  1/11/2019         65.0      13.0      NaN
11    11  1/12/2019         59.0      20.0  fullair

In [31]:
df.isnull().sum()

s.no           0
day            0
temparature    0
winspeed       0
event          3
dtype: int64

In [33]:
df['event'].value_counts()

fullair    4
cold       3
rain       2
Name: event, dtype: int64

In [35]:
df['event'].fillna('sunny',inplace=True)

In [37]:
df.head()

   s.no       day  temparature  winspeed    event
0     1  1/2/2019         30.0      12.0     rain
1     1  1/2/2019         59.0      14.0    sunny
2     2  1/3/2019         43.0      13.0     rain
3     3  1/4/2019         55.0      13.0  fullair
4     4  1/5/2019         66.0      10.0    sunny

In [39]:
df.isnull().sum()

s.no           0
day            0
temparature    0
winspeed       0
event          0
dtype: int64

In [2]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/AP-Skill-Development-Corporation/ML_FDP/main/day5-21-08-2021/weather.csv")
df

    s.no        day  temparature  winspeed    event
0      1   1/2/2019         30.0      12.0     rain
1      1   1/2/2019          NaN      14.0      NaN
2      2   1/3/2019         43.0      13.0     rain
3      3   1/4/2019         55.0       NaN  fullair
4      4   1/5/2019         66.0      10.0      NaN
5      5   1/6/2019         34.0      15.0     cold
6      6   1/7/2019          NaN      17.0  fullair
7      7   1/8/2019         89.0       NaN     cold
8      8   1/9/2019          NaN       9.0  fullair
9      9  1/10/2019         90.0      11.0     cold
10    10  1/11/2019         65.0       NaN      NaN
11    11  1/12/2019          NaN      20.0  fullair

In [3]:
df.isna().sum()

s.no           0
day            0
temparature    4
winspeed       3
event          3
dtype: int64

In [4]:
df.dropna() ## remove the null values with row wise

   s.no        day  temparature  winspeed event
0     1   1/2/2019         30.0      12.0  rain
2     2   1/3/2019         43.0      13.0  rain
5     5   1/6/2019         34.0      15.0  cold
9     9  1/10/2019         90.0      11.0  cold

In [5]:
df.dropna(axis=1,how='all')## remove the null values with column wise

    s.no        day  temparature  winspeed    event
0      1   1/2/2019         30.0      12.0     rain
1      1   1/2/2019          NaN      14.0      NaN
2      2   1/3/2019         43.0      13.0     rain
3      3   1/4/2019         55.0       NaN  fullair
4      4   1/5/2019         66.0      10.0      NaN
5      5   1/6/2019         34.0      15.0     cold
6      6   1/7/2019          NaN      17.0  fullair
7      7   1/8/2019         89.0       NaN     cold
8      8   1/9/2019          NaN       9.0  fullair
9      9  1/10/2019         90.0      11.0     cold
10    10  1/11/2019         65.0       NaN      NaN
11    11  1/12/2019          NaN      20.0  fullair

In [6]:
df['temparature'].dropna()

0     30.0
2     43.0
3     55.0
4     66.0
5     34.0
7     89.0
9     90.0
10    65.0
Name: temparature, dtype: float64

In [7]:
df[['winspeed','event']].dropna(how='all')

    winspeed    event
0       12.0     rain
1       14.0      NaN
2       13.0     rain
3        NaN  fullair
4       10.0      NaN
5       15.0     cold
6       17.0  fullair
7        NaN     cold
8        9.0  fullair
9       11.0     cold
11      20.0  fullair

In [8]:
df.iloc[10,3::].dropna()

Series([], Name: 10, dtype: object)

In [9]:
df

    s.no        day  temparature  winspeed    event
0      1   1/2/2019         30.0      12.0     rain
1      1   1/2/2019          NaN      14.0      NaN
2      2   1/3/2019         43.0      13.0     rain
3      3   1/4/2019         55.0       NaN  fullair
4      4   1/5/2019         66.0      10.0      NaN
5      5   1/6/2019         34.0      15.0     cold
6      6   1/7/2019          NaN      17.0  fullair
7      7   1/8/2019         89.0       NaN     cold
8      8   1/9/2019          NaN       9.0  fullair
9      9  1/10/2019         90.0      11.0     cold
10    10  1/11/2019         65.0       NaN      NaN
11    11  1/12/2019          NaN      20.0  fullair

In [25]:
df.dropna(subset=['temparature'], inplace=True)
df

    s.no        day  temparature  winspeed    event
0      1   1/2/2019         30.0      12.0     rain
2      2   1/3/2019         43.0      13.0     rain
3      3   1/4/2019         55.0       NaN  fullair
4      4   1/5/2019         66.0      10.0      NaN
5      5   1/6/2019         34.0      15.0     cold
7      7   1/8/2019         89.0       NaN     cold
9      9  1/10/2019         90.0      11.0     cold
10    10  1/11/2019         65.0       NaN      NaN

In [27]:
df.dropna(subset=['winspeed','event'], inplace=True)
df

   s.no        day  temparature  winspeed event
0     1   1/2/2019         30.0      12.0  rain
2     2   1/3/2019         43.0      13.0  rain
5     5   1/6/2019         34.0      15.0  cold
9     9  1/10/2019         90.0      11.0  cold